@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
}

.body {
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
  width: 100%;
}

.wrapper {
  max-width: 1448px;
  margin: 0 auto;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 2rem;
}

.mr-30 {
  margin-right: 30px;
}

.header {
  margin-top: 4rem;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
}
.header__menu-list {
  display: flex;
}
.header__menu-item {
  margin-left: 4rem;
}
.header__menu-item:last-child {
  margin-left: 6rem;
}
.header__menu-link {
  font-size: 1.6rem;
  font-weight: 500;
  color: #1a2c5e;
  transition: 0.3s;
}
.header__menu-link:hover {
  color: #fcdf77;
}
.header__menu--loggin {
  padding: 1rem 2.6rem;
  border: 1px solid;
  border-radius: 2rem;
}

.menu-mobile {
  display: none;
}

.logo {
  font-size: 2.6rem;
  font-weight: 600;
}
.logo span {
  color: #fcdf77;
}

.banner {
  padding-top: 15rem;
  max-width: 80rem;
  margin: 0 auto;
  text-align: center;
}
.banner__title {
  font-size: 6rem;
  font-weight: 700;
  color: #1a2c5e;
}
.banner__description {
  padding: 5rem 5rem;
  font-size: 2.2rem;
  color: #6a7183;
  line-height: 2.6rem;
}

.btn {
  padding: 1.6rem 3.6rem;
  font-size: 2rem;
  color: #1a2c5e;
  background-color: transparent;
  font-weight: 500;
  border: none;
  outline: none;
  display: inline-block;
}
.btn--border {
  border: 1px solid;
}
.btn--radius {
  border-radius: 2.6rem;
}
.btn--shadow {
  box-shadow: 0 40px 120px 0 #fcdf77;
}
.btn--primary {
  background-color: #fcdf77;
}

.category-zone {
  margin-top: 18rem;
}
.category-zone__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: strecth;
  flex-direction: row;
}
.category-zone__item {
  width: calc(25% - 22.5px);
  background-color: bisque;
  padding: 0 3rem 4rem 3rem;
  border-radius: 2rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: strecth;
  flex-direction: column;
}
.category-zone__item:first-child {
  box-shadow: 0 5rem 10rem 1rem rgba(93, 1, 6, 0.4);
}
.category-zone__item:nth-child(2) {
  box-shadow: 0 5rem 10rem 1rem rgba(82, 86, 98, 0.4);
}
.category-zone__item:nth-child(3) {
  box-shadow: 0 5rem 10rem 1rem rgba(254, 206, 127, 0.4);
}
.category-zone__item:last-child {
  box-shadow: 0 5rem 10rem 1rem rgba(97, 148, 143, 0.4);
}
.category-zone__img {
  border-radius: 2rem;
  object-fit: contain;
}
.category-zone__title {
  margin: 4rem 0 3rem 0;
  font-size: 2.6rem;
  font-weight: 500;
  color: #1a2c5e;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.category-zone__detail {
  color: #6a7183;
  font-size: 1.6rem;
  margin-top: auto;
}

.introduce {
  margin-top: 18rem;
}
.introduce__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: stretch;
  flex-direction: row;
  margin-bottom: 15rem;
  height: 82.5rem;
}
.introduce__item:nth-child(even) {
  flex-direction: row-reverse;
}
.introduce__image, .introduce__detail {
  width: calc(50% - 5rem);
}
.introduce__title {
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 5rem;
  color: #1a2c5e;
}
.introduce__description {
  margin: 4rem 0 5.8rem 0;
  font-size: 1.8rem;
  color: #6a7183;
  line-height: 3rem;
}
.introduce__info-item {
  font-size: 1.8rem;
  color: #1a2c5e;
  line-height: 4rem;
  font-weight: 600;
  text-decoration-line: underline;
  text-underline-offset: 1rem;
  margin-bottom: 4rem;
}
.introduce__info-item:last-child {
  margin-bottom: 4.6rem;
}
.introduce__info-item--circle {
  text-decoration-line: none;
  position: relative;
  padding-left: 4rem;
}
.introduce__info-item--circle::before {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  left: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transform: translateY(-50%);
}
.introduce__info-item--circle:first-child::before {
  background-color: #ff69ea;
}
.introduce__info-item--circle:nth-child(2)::before {
  background-color: #99fa3b;
}
.introduce__info-item--circle:nth-child(3)::before {
  background-color: #13c3fe;
}
.introduce__info-item--circle:nth-child(4)::before {
  background-color: #fa899b;
}
.introduce__service {
  width: calc(50% - 1.5rem);
  margin-bottom: 5rem;
}
.introduce__service-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
.introduce__service-icon {
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
}
.introduce__service-icon::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  opacity: 0.2;
  background-color: currentColor;
}
.introduce__service:first-child .introduce__service-icon {
  color: #77b8bc;
}
.introduce__service:nth-child(2) .introduce__service-icon {
  color: #e1c079;
}
.introduce__service:nth-child(3) .introduce__service-icon {
  color: #b09cbf;
}
.introduce__service:last-child .introduce__service-icon {
  color: #cbf0cf;
}
.introduce__service-title {
  font-size: 2.2rem;
  color: #1a2c5e;
  font-weight: 600;
  line-height: 2.6rem;
}
.introduce__service-description {
  font-size: 1.6rem;
}

.partner {
  margin-top: 20rem;
  text-align: center;
}
.partner-inner {
  max-width: 83rem;
}
.partner-inner__title {
  font-size: 2.6rem;
  font-weight: 520;
  padding-bottom: 7rem;
  border-bottom: 2px solid;
  color: #1a2c5e;
}
.partner-inner__list {
  margin-top: 7rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;
  flex-direction: row;
  padding: 0 2rem;
}
.partner-inner__item {
  font-size: 6rem;
  color: #1a2c5e;
}

.themeseleve {
  margin-top: 20rem;
  text-align: center;
}
.themeseleve__title {
  font-size: 3rem;
  color: #1a2c5e;
  font-weight: 550;
  margin-bottom: 4rem;
}
.themeseleve__slogan {
  font-size: 1.8rem;
  color: #6a7183;
  margin-bottom: 6rem;
}
.themeseleve__slogan span {
  color: #fcdf77;
  font-weight: 500;
}
.themeseleve__list {
  display: flex;
  justify-content: space-between;
}
.themeseleve__item {
  width: calc(25% - 22.5px);
}
.themeseleve__item img {
  object-fit: cover;
  height: 27.7rem;
  border-radius: 2rem;
}

.subscribe {
  margin-top: 18rem;
}
.subscribe__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
}
.subscribe__info, .subscribe__title {
  width: 50%;
}
.subscribe__title {
  font-size: 3rem;
  font-weight: 500;
  color: #1a2c5e;
  padding-right: 10rem;
}
.subscribe__form {
  background-color: #f2f1f6;
  display: flex;
  border-radius: 1rem;
}
.subscribe__input {
  border: none;
  background-color: transparent;
  padding: 3rem;
  font-size: 2rem;
  outline: none;
  flex-grow: 1;
}
.subscribe__btn {
  font-size: 2rem;
  background-color: transparent;
  font-weight: 530;
  outline: none;
  border: none;
  padding: 3rem;
  color: #1a2c5e;
}
.subscribe__social {
  margin-top: 5rem;
}
.subscribe__icon {
  margin-left: 4rem;
  font-size: 3rem;
  color: #1a2c5e;
}

.footer__list {
  border-top: 2px solid;
  border-bottom: 1px solid;
  padding: 6rem 0 20rem 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;
  flex-direction: row;
}
.footer__item {
  width: 25%;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 4rem;
  color: #1a2c5e;
}
.footer__content {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}
.footer__content__text {
  color: #1a2c5e;
  font-size: 1.8rem;
}

/*# sourceMappingURL=style.css.map */
